[[source]]
url        = "https://pypi.org/simple"
verify_ssl = true
name       = "pypi"

[packages]
ansible     = "~=4.1"
pyyaml      = "*"
paramiko    = "*"
ncclient    = "*"
#junos-eznc  = "*"  # You may have to install it for Python2 (via pip2)

[dev-packages]

[requires]

[scripts]
install  = "ansible-galaxy collection install juniper.device"
dryrun   = "ansible-playbook -vvvv --check site.yml"
poweroff = "ansible-playbook -v site.yml"
